<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

  <div>
    <label>Email</label>
    <input formControlName="email" />
    @if (form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)) {
      <div class="error">
        @if (form.get('email')?.errors?.['required']) {
          <div>Email is required.</div>
        }
        
        @if (form.get('email')?.errors?.['email']) {
          <div>Enter a valid email address.</div>
        }
      </div>
    }
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password" />
    @if (form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)) {
      <div class="error">
        @if (form.get('password')?.errors?.['required']) {
          <div>Password is required.</div>
        }
        
        @if (form.get('password')?.errors?.['minlength']) {
          <div>Password must be at least 8 characters.</div>
        }
      </div>
    }
  </div>

    <div>
    <label>Password Confirmation</label>
    <input type="password" formControlName="passwordConfirmation" />
    @if (form.get('passwordConfirmation')?.invalid && (form.get('passwordConfirmation')?.touched || form.get('passwordConfirmation')?.dirty)) {
      <div class="error">
        @if (form.get('passwordConfirmation')?.errors?.['required']) {
          <div>Password confirmation is required.</div>
        }
        
        @if (form.get('passwordConfirmation')?.errors?.['minlength']) {
          <div>Password must be at least 8 characters.</div>
        }

        @if (form.get('passwordConfirmation')?.errors?.['passwordMismatch']) {
          <div>Passwords do not match.</div>
        }
      </div>
    }
  </div>

  <div style="margin-top:1rem;">
    <button type="submit">Submit</button>
  </div>
</form>
